/* STYLES FOR HELP WIDGET */

.faq {
  margin: 0;
  padding: 0;
  font: 24px/1.5 "Open Sans", Tahoma, Geneva, Arial, sans-serif;
  color: #444;
}

dt, dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: relative;
  padding: 0.5em 1em;
  padding-left: 3.5em;
  min-height: 60px;
}

dl *:before {
  content: "Q";
  font: 72px/1 "Goudy Old Style", "Book Antiqua", "Palatino", serif;
  color: #e9e9e9; 
  position: absolute;
  left: 0.2em;
  top: 0;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}

dd:before {
  content: "A";
  color: white;
  z-index: 0;
}

dt {
  margin: 10px 0;
  padding-top: 1.5em;
}

dd {
/*   background-color: #AD9FB1; */
/*   background-color: #856E8F; */
  background-color: #eee;
  box-shadow: 0 -10px 15px #eee;
  padding-bottom: 1.5em;
}

dd + dt {
  margin-top: 0;
/*   border-top: 1px solid #e9e9e9; */
}
